.DS_Store
.idea/cub3d\.iml
.idea/modules\.xml
.idea/vcs\.xml
.idea/workspace\.xml
.idea/.gitignore
.idea/misc.xml
cmake-build-debug/CMakeFiles/clion-log.txt
src/*.o
libft/*.o
cub3D
libft/libft\.a
mlx/libmlx\.a
mlx/mlx_init_loop\.o
mlx/mlx_int_str_to_wordtab\.o
mlx/mlx_mouse\.o
mlx/mlx_new_image\.o
mlx/mlx_new_window\.o
mlx/mlx_png\.o
mlx/mlx_shaders\.o
mlx/mlx_xpm\.o
src/utils/stack\.o
